@import url("fonts.css");
@import url("reset.css");


@font-face {
   font-family: "Causten";
   src: url("../fonts/Causten-Regular.woff2") format("woff2"),
      url("../fonts/Causten-Regular.woff") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Causten";
   src: url("../fonts/Causten-Light.woff2") format("woff2"),
      url("../fonts/Causten-Light.woff") format("woff");
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Causten";
   src: url("../fonts/Causten-Medium.woff2") format("woff2"),
      url("../fonts/Causten-Medium.woff") format("woff");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Causten";
   src: url("../fonts/Causten-Semi-Bold.woff2") format("woff2"),
      url("../fonts/Causten-Semi-Bold.woff") format("woff");
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Causten";
   src: url("../fonts/Causten-Bold.woff2") format("woff2"),
      url("../fonts/Causten-Bold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}


@font-face {
   font-family: "CoreSansC";
   src: url("../fonts/CoreSansC-35Light.woff2") format("woff2"),
      url("../fonts/CoreSansC-35Light.woff") format("woff");
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "CoreSansC";
   src: url("../fonts/CoreSansC-55Medium.woff2") format("woff2"),
      url("../fonts/CoreSansC-55Medium.woff") format("woff");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "CoreSansC";
   src: url("../fonts/CoreSansC-65Bold.woff2") format("woff2"),
      url("../fonts/CoreSansC-65Bold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}


















.licencing-development {
   padding:  150.5px 150px;

}

.information {
   font-family: "Inter";
}

.title {
   color: #37393f;
   font-family: "Poppins";
   font-size: 60px;
   line-height: 1.21;
   font-weight: 700;
   line-height: 1.21;
   margin-bottom: 70px;
   text-align: center;
}

.title-information {
   text-align: center;

}

.image {
   display: inline-block;

}

.information {
   max-width: 202px;
   display: inline-block;
   margin: 0 auto;
   margin-bottom:  16px;

}

.icons-title,
.photography,
.fonts {
   color: #37393f;
   font-family: "Poppins";
   font-size: 40px;
   font-weight: 700;
   line-height: 1.21;
}

h2 {
   color: #37393f;
   font-family: "Poppins";
   font-size: 30px;
   font-weight: 700;
}

.text-icons,
.text-fonts,
.text-photography {
   color: #7d7d7d;
   font-family: "Inter";
   font-size: 18px;
   line-height: 1.46;
   font-weight: 400;
}

.color-green-license {
   color: #40ddb6;
   font-family: "Poppins";
   font-size: 30px;
   font-weight: 400;
}

.color-green-one,
.color-green-second,
.color-green {
   color: #40ddb6;
   font-family: "Inter";
   font-size: 18px;
   font-weight: 400;
   line-height: 1.46;
}

.icons-title {
   margin-bottom: 11px;

}
.icons {
   margin-bottom: 100px;
}
.text-icons {
   margin-bottom: 32px;
}


.photography {
   margin-bottom: 11px;
}

.text-photography {
   margin-bottom: 24px;
   font-weight:  0;
}

.pexel {
   margin-bottom: 8px;
}

.color-green-one {
   margin-bottom: 24px;
}

.unsplash {
   margin-bottom: 8px;
}

.color-green-second {
 margin-bottom: 100px;
}

.fonts {
   margin-bottom: 11px;
}






.page-project {
   color: #7d7d7d;
   font-family: "Inter";
   font-size: 18px;
   font-weight: 400;
   line-height: 1.46;
   max-width: 830px;
   margin: 0 auto;
   margin-bottom: 150px;
}

.title-project {
   color: #37393f;
   font-family: "Poppins";
   font-size: 40px;
   font-weight: 700;
   line-height: 1.27;
   margin-bottom: 13px;
}

.list-project,
.list-number {
   font-weight: 500;
}

.list-item,
.list-number-item {
   margin-bottom: 25px;
}

p {
  margin-bottom: 35px;
}








.page-clothing {
   color: #807d7e;
   font-family: "Causten";
   font-size: 20px;
   font-weight: 400;
   line-height: 33.5px;
   max-width: 1219px;
   margin-left: 121px;
   margin-right: 100px;
}

.marker {
   font-weight: 700;
}

.title-main {
   color: #3C4242;
   font-family: "CoreSansC";
   font-size: 28px;
   font-weight: 600;
   line-height: 33.5px;
   letter-spacing: 0.56px;
   padding-bottom: 30px;
}

h5 {
   color: #807D7E;
   font-family: "CoreSansC";
   font-size: 20px;
   font-weight: 600;
   line-height: 33.5px;
   letter-spacing: 0.4px;
   padding-bottom: 25px;
}

p {
   padding-bottom: 20px;
}





.page-jewelery {
   font-family: "Cormorant Infant";
   font-weight: 700;
   margin: 0 auto;
   height: 1103px;
   margin: 100px;
}





.content-jewelery {
   display: inline-block;
   padding-right: 89px;

}

.what-we-do {
   color: #D58417;
   font-size: 20px;
   padding-bottom: 27px;

}

.custom-jewelery {
   color: #000;
   font-family: "Cormorant Infant";
   font-size: 64px;
   width: 503px;
   padding-bottom: 31px;
   margin-right: 75px;

}

.text-jewelery {
   color: #606060;
   font-size: 30px;
   width: 489px;
   line-height: 1.40;
}

.girl-one {
   width: 177px;
   display: inline-block;
   border-radius: 235px;
   border: 1px solid #502203;
   margin-right: 30px;
   padding-right: 10px;
   padding-top: 14px;
}

.girl-second {
   width: 307px;
   display: inline-block;
   padding-right: 30px;
   border-radius: 235px;
   border: 1px solid #502203;
   padding-right: 11px;
   padding-top: 19px;
}










.home-work {
   margin-left: 300px;
   margin-right: 300px;
   font-size: 30px;
}
.solid {
text-align: center;
margin-bottom: 50px;
border: 3px solid rgba(91, 22, 22, 0.621)
}
.dotted {
text-align: center;
margin-bottom: 50px;
border: 3px dotted rgba(91, 22, 22, 0.621)
}
.dashed {
text-align: center;
margin-bottom: 50px;
border: 3px dashed rgba(91, 22, 22, 0.621)
}
.double {
text-align: center;
margin-bottom: 50px;
border: 3px double rgba(91, 22, 22, 0.621)
}
.side-mix {
text-align: center;
margin-bottom: 50px;
border-top: 5px solid rgba(91, 22, 22, 0.621);
border-right: 5px dotted rgba(91, 22, 22, 0.621);
border-bottom: 5px dashed rgba(91, 22, 22, 0.621);
border-left: 5px double rgba(91, 22, 22, 0.621);
}
.border-radius {
text-align: center;
margin-bottom: 50px;
border-radius: 20px;
background-color:rgba(91, 22, 22, 0.621);
}
.border-radius-img {
width: 500px;
margin-bottom: 50px;
border-radius: 57% 43% 46% 54% / 100% 63% 37% 0%;
background-color:rgba(91, 22, 22, 0.621);
}
.shadow-inset {
text-align: center;
margin-bottom: 50px;
box-shadow: inset 0 5px 10px 3px rgba(91, 22, 22, 0.621);
}
.shadow {
text-align: center;
margin-bottom: 50px;
box-shadow: -5px -10px 5px 10px rgba(91, 22, 22, 0.621);
background-color:rgba(91, 22, 22, 0.621);
}
.multi-shadow {
text-align: center;
margin-bottom: 50px;
box-shadow:
 inset 5px 5px 10px 10px rgba(91, 22, 22, 0.621),
 -5px 10px 10px 5px rgba(91, 22, 22, 0.621);
}
.opacity02 {
text-align: center;
margin-bottom: 50px;
background-color:rgba(91, 22, 22, 0.621);
opacity: 0.2;
}
.opacity05 {
text-align: center;
margin-bottom: 50px;
background-color:rgba(91, 22, 22, 0.621);
opacity: 0.5;
}
.outline {
text-align: center;
margin-bottom: 200px;
outline: 10px solid rgba(91, 22, 22, 0.621);
}