@import url("fonts.css");
@import url("reset.css");


@font-face {
   font-family: "Causten";
   src: url("../fonts/Causten-Regular.woff2") format("woff2"),
      url("../fonts/Causten-Regular.woff") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Causten";
   src: url("../fonts/Causten-Light.woff2") format("woff2"),
      url("../fonts/Causten-Light.woff") format("woff");
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Causten";
   src: url("../fonts/Causten-Medium.woff2") format("woff2"),
      url("../fonts/Causten-Medium.woff") format("woff");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Causten";
   src: url("../fonts/Causten-Semi-Bold.woff2") format("woff2"),
      url("../fonts/Causten-Semi-Bold.woff") format("woff");
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Causten";
   src: url("../fonts/Causten-Bold.woff2") format("woff2"),
      url("../fonts/Causten-Bold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}


@font-face {
   font-family: "CoreSansC";
   src: url("../fonts/CoreSansC-35Light.woff2") format("woff2"),
      url("../fonts/CoreSansC-35Light.woff") format("woff");
   font-weight: 300;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "CoreSansC";
   src: url("../fonts/CoreSansC-55Medium.woff2") format("woff2"),
      url("../fonts/CoreSansC-55Medium.woff") format("woff");
   font-weight: 500;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "CoreSansC";
   src: url("../fonts/CoreSansC-65Bold.woff2") format("woff2"),
      url("../fonts/CoreSansC-65Bold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}








.practice {
}
.block-1 {
   padding: 40px;
   background: rgb(176,154,18);
background: linear-gradient(0deg, rgba(176,154,18,1) 0%, rgba(219,219,31,1) 38%, rgba(0,212,255,1) 100%);
}
.block-2 {
   background: url("../img/360_F_277309825_h8RvZkoyBGPDocMtippdfe3497xTrOXO.jpeg");
   background-attachment: fixed;
   font-size: 25px;
}
.block-3 {
   background: url("../img/360_F_277309825_h8RvZkoyBGPDocMtippdfe3497xTrOXO.jpeg") 0 50% no-repeat;
}
.block-4 {
   background: url("../img/360_F_277309825_h8RvZkoyBGPDocMtippdfe3497xTrOXO.jpeg") 100% 100% no-repeat;
}

.block-5 {
   background-color: #E3E3E3;
   background: url("../img/360_F_277309825_h8RvZkoyBGPDocMtippdfe3497xTrOXO.jpeg") no-repeat;
   background-size: 300px;
}



.page-business-consulting {
   max-width: 637px;
   margin: 0 auto 150px;

}

.sub-title-consulting {
   color: #37393F;
   font-family: "Inter";
   font-size: 18px;
   font-weight: 500;
   margin-bottom: 18px;
   padding-left: 18px;
   background: url("../img/box.jpg") 0 3px no-repeat;
   margin-top: 100px;
}

.title-consulting {
   width: 414px;
   color: #37393F;
   font-family: "Poppins";
   font-size: 40px;
   font-weight: 700;
   line-height: 1.21;
   margin-bottom: 20px;
}

.text-consulting {
   color: #7D7D7D;
   font-family: "Inter";
   font-size: 18px;
   font-weight: 400;
   line-height: 1.46;
   margin-bottom: 20px;
}

p {}

.list-consulting {
   margin-bottom: 43px;
}

.list-item {
   color: #37393F;
   font-family: "Poppins";
   font-size: 20px;
   font-weight: 400;
   line-height: 1.65;
   margin-bottom: 23px;
   padding-left: 35px;
   background: url("../img/vector.jpg") 0 3px no-repeat;

}

p {
   margin-bottom: 20px;
}

.block {
   margin-bottom: 37px;
}

.block-experience {
   width: 296px;
   height: 140px;
   background: url("../img/icon.jpg") 32px 15px no-repeat;
   display: inline-block;
   padding: 31px 32px 32px 90px;
   border: 1px solid #E3E3E3;
   margin-right: 21px;
   font-size: 0;
}


.title-block {
   color: #37393F;
   font-family: "Poppins";
   font-size: 20px;
   font-weight: 600;

}

.text-block {
   color: #7D7D7D;
   font-family: "Inter";
   font-size: 16px;
   font-weight: 400;
   line-height: 1.35;

}

.block-awards-winner {
   width: 297px;
   height: 140px;
   background: url("../img/icon2.jpg") no-repeat 37px 15px;
   display: inline-block;
   padding: 31px 37px 32px 95px;
   border: 1px solid #E3E3E3;
   vertical-align: top;


}

.button-about-us {
   width: 184px;
   height: 65px;
   color: #FFF;
   font-family: "Inter";
   font-size: 18px;
   font-weight: 600;
   background-color: #6B77E5;
   padding: 21px 27px 22px 27px;

}









.page-projects {
   width: 1320px;
   margin: 0 auto;
   margin-bottom: 200px;
}

.sub-title-projects {
   color: #37393F;
   font-family: "Inter";
   font-size: 18px;
   font-weight: 500;
   background: url("../img/box.jpg") 0 3px no-repeat;
   padding-left: 18px;
   max-width: 148px;
   margin: 0 auto;
   margin-bottom: 14px;




}

.title-projects {
   color: #37393F;
   font-family: "Poppins";
   font-size: 40px;
   font-weight: 700;
   line-height: 1.21;
   margin-bottom: 14px;
   text-align: center;
   

}

.text-projects {
   color: #7D7D7D;
   font-family: "Inter";
   font-size: 18px;
   font-weight: 400;
   line-height: 1.46;
   margin-bottom: 47px;
   max-width: 852px;
margin: 0 auto;


}

.project-items {}

.project-items-top-row {
   margin-bottom: 58px;

}

.title-item {
   color: #37393F;
   font-family: "Poppins";
   font-size: 20px;
   font-weight: 600;
   line-height: 1.27;
   margin-bottom: 10px;
}

.item-date {
   color: #7D7D7D;
   font-family: "Inter";
   font-size: 14px;
   font-weight: 400;
   line-height: 1.46;
   background: url("../img/icon-calendar.jpg") no-repeat;
   padding-left: 26px;
}

.project-item-1 {
   display: inline-block;
   margin-right: 34px;
}

.project-item-2 {
   display: inline-block;
   margin-right: 34px;
}

.project-item-3 {
   display: inline-block;
}

.project-items-botton-row {}

.project-item-4 {
   display: inline-block;
   margin-right: 34px;
}

.project-item-5 {
   display: inline-block;
   margin-right: 34px;
}

.project-item-6 {
   display: inline-block;
}

.item-image-1 {
   background: url(../img/photo1.jpg);
   width: 384px;
   height: 501px;
   margin-bottom: 24px;
}

.item-image-2 {
   background: url(../img/photo2.jpg);
   width: 384px;
   height: 501px;
   margin-bottom: 24px;
}

.item-image-3 {
   background: url(../img/photo3.jpg);
   width: 384px;
   height: 501px;
   margin-bottom: 24px;
}

.item-image-4 {
   background: url(../img/photo4.jpg);
   width: 384px;
   height: 501px;
   margin-bottom: 24px;
}

.item-image-5 {
   background: url(../img/photo5.jpg);
   width: 384px;
   height: 501px;
   margin-bottom: 24px;
}

.item-image-6 {
   background: url(../img/photo6.jpg);
   width: 384px;
   height: 501px;
   margin-bottom: 24px;
}











.clothing {}

.block-clothing {
   width: 1240px;
   margin: 0 auto;
   margin-bottom: 200px;
}


.title-clothing {
   background: url("../img/Rectangle\ 21.svg") no-repeat;
   color: #3C4242;
   font-family: "CoreSansC";
   font-size: 28px;
   font-weight: 600;
   line-height: 33.5px;
   letter-spacing: 0.56px;
   padding-left: 21px;
   margin-bottom: 30px;


}

.sub-title-clothing {
   color: #807D7E;
   font-family: "CoreSansC";
   font-size: 20px;
   font-weight: 600;
   line-height: 33.5px;
   letter-spacing: 0.4px;
   padding-left: 21px;
   margin-bottom: 25px;
}

.text-clothing {
   color: #807D7E;
   font-family: "Causten";
   font-size: 20px;
   font-weight: 400;
   line-height: 33.5px;
   letter-spacing: 0.4px;
   padding-left: 21px;
}

span {
   color: #807D7E;
   font-family: "Causten";
   font-size: 20px;
   font-weight: 700;
   line-height: 33.5px;
   letter-spacing: 0.4px;
}








.page-fashion {}

.block-fashion-items {
   max-width: 1270px;
   margin: 0 auto;
   font-size: 0;
}

.content-item {
   background: url("../img/unsplash.jpg") no-repeat;
   width: 614px;
   padding: 183px 74px 174px;
   display: inline-block;
}

.title-fashion {
   color: #FFF;
   font-family: "CoreSansC";
   font-size: 34px;
   font-weight: 800;
   line-height: 50px;
   letter-spacing: 0.208px;
   margin-bottom: 30px;
}

.text-fashion {
   color: #FFF;
   font-family: "Causten";
   font-size: 20px;
   font-weight: 300;
   letter-spacing: 1px;
   margin-bottom: 50px;
}

.button-fashion {
   color: #3C4242;
   text-align: center;
   font-family: "Causten";
   font-size: 18px;
   font-weight: 600;
   border-radius: 8px;
   background: #FFF;
   padding: 12px 44px;
}

.image-item-fashion {
   background: url("../img/image-item2.jpg") no-repeat;
   width: 626px;
   height: 639px;
   display: inline-block;
   vertical-align: top;
}